
<div id="index">
<h1>All Jobs</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Position type</th>
    <th>Category</th>
    <th>Description</th>
    <th>How to apply</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= link_to(job.title, job_path(job)) %></td>
    <td><%= job.location %></td>
    <td><%= job.position_type %></td>
    <td><%= job.category %></td>
    <td><%= job.description %></td>
    <td><%= job.how_to_apply %></td>
    <!-- <td><%= link_to 'Show', job %></td> -->
  <!--   <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />
</div>

<div id="index_options"

<% if current_user %>     

        <%= link_to "New Job", new_job_path, :class => 'btn btn-info' %>
    <% else %>
        <%= link_to "Advertise A Vacancy.", new_user_registration_path, :class => 'btn btn-large btn-success' %>
    <% end %>
</div>
